@import "../../styles/variables";

.filter-options {
  gap: 20px;
  margin-right: 15px;
  .op {
    gap: 10px;
  }
  svg {
    color: $violeta-3;
  }
  img {
    height: 20px;
    width: auto;
  }
  .celda {
    svg {
      color: $violeta-3 !important;
    }
    &:hover {
      cursor: pointer;
    }
  }
  @media (max-width: $md) {
    margin-top: 15px;
    margin-left: auto;
    margin-right: 0;
  }
}
