@import "./../../styles/variables";

// NEW PROJECT FORM
.form-nuevo {
  background-color: $celeste-3;
  border-bottom: 1px solid $negro;
  color: $blanco;
  padding: 10px 0;
  .container-lg {
    gap: 10px;
    .form-container {
      gap: 10px;
    }
    .input-form {
      border-radius: 6px;
      height: 37.33px;
    }
    .form-label {
      margin-bottom: 0;
      font-size: 16px;
      color: $gris-claro;
    }
  }
  @media (max-width: $md) {
    .form-container {
      select {
        width: 100%;
      }
    }
  }
}
