//ROW GAPS
.rg-5 {
  row-gap: 5px;
}

.rg-10 {
  row-gap: 10px;
}

.rg-15 {
  row-gap: 15px;
}

//GAPS
.g-5 {
  gap: 5px;
}

.g-10 {
  gap: 10px;
}

.g-15 {
  gap: 15px;
}

.g-30 {
  gap: 30px;
}

//MARGINS
.mr-15 {
  margin-right: 15px;
}

//FONT WEIGHT
.bold {
  font-weight: 600;
}

//FONT COLORS
.texto-violeta {
  color: $violeta-3 !important;
}

.texto-celeste {
  color: $celeste-2;
}

//TITULOS
.titulo {
  color: $violeta-3;
  font-weight: 700;
  margin-bottom: 15px;
}

.titulo-header {
  color: $gris-claro;
}

//SOMBRA
.shadow {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

//ANIMACIONES
.animation {
  animation: popUp 0.5s ease-in-out 0s 1 normal forwards;
}

.animation-2 {
  animation: popUp-2 0.5s ease-in-out 0s 1 normal forwards;
}

//BOTONES
.btn {
  border-radius: 8px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  &.btn-violeta {
    background-color: $violeta-3;
    color: $gris-claro !important;
    &:hover {
      background-color: $violeta-4;
    }
  }

  &.btn-celeste {
    background-color: $celeste;
    color: $violeta-4;
    border: 2px solid $celeste !important;
    svg {
      fill: $blanco;
    }
    &:hover {
      border: 2px solid $blanco !important;
      background-color: $azul-2;
      color: $blanco;
    }
  }

  &.btn-celeste-4 {
    background-color: $azul !important;
    border: 1px solid $azul !important;
    &:hover {
      background-color: $azul-2;
    }
  }

  &.btn-verde {
    background-color: $verde-2;
    color: $verde-4;
    &:hover {
      background-color: $verde-4;
      color: $verde-2;
    }
  }

  &.btn-rojo {
    background-color: $rojo !important;
    color: $rojo-2 !important;
    &:hover {
      background-color: $rojo-3;
    }
    .x {
      height: 12px;
      transition: 0.3s;
    }
    &:hover {
      border: 2px solid $blanco !important;
      .x {
        fill: $blanco;
        transition: 0.3s;
      }
    }
  }
  &.flecha {
    height: 37.32px;
    width: 40px;
    svg {
      fill: $celeste-4;
    }
    &:hover {
      svg {
        fill: $blanco;
      }
    }
  }
}

.btn-ojo {
  .open {
    display: none;
  }
  .closed {
    display: block;
    color: $azul-2;
  }
  &:hover {
    border: 2px solid $blanco !important;
    .open {
      display: block;
      fill: $blanco;
    }
    .closed {
      display: none;
    }
  }
}

.square {
  height: 45px !important;
  width: 50px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  &.sq-sm {
    height: 30px !important;
    width: 30px !important;
    padding: 10px;
  }
}

//CELDAS
.celda {
  height: 30px;
  width: 30px;
  border-radius: 8px;
  border: 1px solid $gris-claro;
  background-color: $blanco;
  &.celda-md {
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: none;
  }
  &.celda-sm {
    height: 15px;
    width: 15px;
    border-radius: 4px;
    border: none;
  }
  &.celda-disabled {
    background-color: $gris-claro;
  }
  &.celda-disabled-2 {
    background-color: $gris-claro-2;
    border-color: $gris;
  }
  &.celda-check {
    height: 15px;
    width: 15px;
    &:hover {
      cursor: pointer;
    }
  }
  &.celda-project {
    height: 30px;
    width: 30px;
    margin-left: auto;
    &:hover {
      cursor: pointer;
    }
  }
  &.check-1 {
    background-color: $verde;
    animation: popUp 0.3s ease-in-out 0s 1 normal forwards;
  }
  &.check-2 {
    background-color: $verde-2;
  }
  &.check-3 {
    background-color: $verde-3;
  }
  &.check-4 {
    background-color: $naranja;
  }
}