.rg-5 {
  row-gap: 5px;
}

.rg-10 {
  row-gap: 10px;
}

.rg-15 {
  row-gap: 15px;
}

.g-5 {
  gap: 5px;
}

.g-10 {
  gap: 10px;
}

.g-15 {
  gap: 15px;
}

.bold {
  font-weight: 600;
}

.texto-violeta {
  color: $violeta-3 !important;
}

.texto-celeste {
  color: $celeste-2;
}
