//ROW GAPS
.rg-5 {
  row-gap: 5px;
}

.rg-10 {
  row-gap: 10px;
}

.rg-15 {
  row-gap: 15px;
}

//GAPS
.g-5 {
  gap: 5px;
}

.g-10 {
  gap: 10px;
}

.g-15 {
  gap: 15px;
}

.g-30 {
  gap: 30px;
}

//MARGINS
.mr-15 {
  margin-right: 15px;
}

//FONT WEIGHT
.bold {
  font-weight: 600;
}

//FONT COLORS
.texto-violeta {
  color: $violeta-3 !important;
}

.texto-celeste {
  color: $celeste-2;
}
