//FONDOS
.home, .instructions, .project {
    background-image: url("/background.png");
  }

//GLOBALES
$background-color: #fee2e2;

//PALETA DE COLORES
$blanco: #ffff;
$negro: #333333;
$gris-claro: #dad6ca;
$gris-claro-2: #ededed;
$gris: #a0a0a0;

$celeste: #12AFCE;
$celeste-2: #1a97b0;
$celeste-3: #4B7D91;
$celeste-4: #3e6876;

$azul: #3c6385;
$azul-2: #1e3052;

$violeta: #b59dc5;
$violeta-2: #6a5e72;
$violeta-3: #563444;
$violeta-4: #452f39;

$verde: #a6d886;
$verde-2: #76b947;
$verde-3: #457146;
$verde-4: #2f5233;

$amarillo: #fabe7a;
$naranja: #e69e4c;
$rojo: #df7373;
$rojo-2: #a84848;
$rojo-3: #784444;

//MEDIDAS
$lg: 992px;
$md: 768px;
$sm: 576px;

//TAMAÑO
h2 {
  font-size: 1.5rem !important;
}

h3 {
  font-size: 1.25rem !important;
}


