@import "../../styles/variables";

//PROGRESS LIST
.progress-list {
    .date-setter {
      margin-bottom: 20px;
      .select-year {
        border-radius: 6px;
        height: 37.33px;
        margin-right: 102px;
      }
      .month-setter {
        width: 215px;
        .month-name {
          color: $violeta-3;
        }
      }
    }
    @media (max-width: $md) {
      .date-setter {
        .select-year {
          margin-right: 64px;
          width: 97px !important;
        }
        .month-setter {
          .month-name {
            margin: 0 22px;
          }
        }
      }
    }
  }