@import "../../styles/variables.scss";

//PROJECT LOGROS
.logros-tab {
    height: inherit;
    .logros-container {
      height: 257px;
      padding: 0 0 15px 15px;
    }
    .logros {
      row-gap: 15px;
      height: 257px;
      padding-top: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      overflow-y: scroll;
      --bs-gutter-x: 0 !important;
    }
    .logros-form {
      height: 40px;
      width: 100%;
      padding: 0 15px;
      background-color: $celeste-2;
      border-end-end-radius: 8px;
      border-bottom-left-radius: 8px;
      form {
        width: 100%;
        input {
          border-radius: 4px;
        }
        .btn {
          height: 30px;
          padding: 0 10px;
        }
      }
    }
  }