@import "./styles/variables";
@import "./styles/utility-classes";
@import "./styles/sections";
@import "./styles/components";
@import "./styles/dark-mode";

@keyframes popUp {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes popUp-2 {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

* {
  font-family: Rubik, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $violeta-2;
  border-radius: 10px;
}
